<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.themeleaf.org">
<head>
<link th:href="@{../style.css}" href="../style.css" rel="stylesheet"
	type="text/css" />
<title>Insert title here</title>
</head>
<body>
	<div class="wrapper">
		<form th:action="@{/add/}" th:object="${form}" method="post">
			<input type="hidden" th:field="*{id}" class="input-text" /> 
			<input type="text" th:field="*{name}" class="input-text" placeholder="Your Name" />
			<input type="text" th:field="*{email}" class="input-text" placeholder="Your Email" />
			<button type="submit" class="form-button">Add</button>
		</form>
	</div>
</body>
</html>